*

!.gitignore
!.env.example
!README.md
!compose.yaml
!restore-airbnb-backup.sh

!airbnb/
!airbnb/**

!mongo-init/
!mongo-init/**

!backend/
!backend/**

!frontend/
!frontend/**

!localstack/
localstack/*
!localstack/README.md

!azurite/
azurite/*
!azurite/README.md
